<footer class="footer">
    <a class="logo_footer" href="./index.html">
        <svg>
            <use href="../img/icons.svg#icon-logo"></use>
        </svg>
    </a>
    <address class="addres_footer">
        <ul class="list_footer">
            <li><a class="footer_contacts" href="tel:+38 066 543 8912">Ua: +38 066 543 8912</a></li>
            <li><p class="footer_contacts">Ukraine, Kyiv</p></li>
        </ul>
    </address>
    <div class="socials_footer">
        <ul>
            <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
            <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
            <li><a href="https://www.youtube.com/c/GoIT">Youtube</a></li>
        </ul>
    </div>
    <div class="about_us_footer">
        <ul class="list_about_us_footer">
            <li><a href="">About us</a></li>
            <li><a href="">Our courses</a></li>
            <li><a href="">Our mentors</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">contacts</a></li>
        </ul>
    </div>
    <div class="button_form">
        <form action="">

        </form>
    </div>
    <div>
        <p> Privacy Policy <br/>Public Offering Agreement</p>
    </div>
    <div>
        <p>2023 Focus Frame<br/>© All rights reserved</p>
    </div>
</footer>