<section class="our-courses">
  <div class="container">
    <div class="our-courses-top">
      <h2 class="our-courses-title">
        <span class="our-courses-title-unique">Our</span>Courses
      </h2>
      <p class="our-courses-description">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <div class="our-courses-bottom">
      <ul class="our-courses-list">
        <ol class="por-courses-list-item">
          <a class="our-courses-item-link" href=""></a>
          <h3 class="our-courses-item-title">Basics of photography</h3>
          <p class="our-courses-item-desc">
            During this course, you will be able to familiarize yourself with
            different types of cameras, learn the basics of composition.
          </p>
        </ol>
        <ol class="por-courses-list-item">
          <a class="our-courses-item-link" href=""></a>
          <h3 class="our-courses-item-title">Landscape photography</h3>
          <p class="our-courses-item-desc">
            In this course, you'll learn how to choose the right angles, frame
            landscapes, and create depth and perspective in your images.
          </p>
        </ol>
        <ol class="por-courses-list-item">
          <a class="our-courses-item-link" href=""></a>
          <h3 class="our-courses-item-title">Portrait photography</h3>
          <p class="our-courses-item-desc">
            During this course, you will learn to choose the right lighting,
            reproduce the mood and expressions on the faces of the models.
          </p>
        </ol>
      </ul>
    </div>
  </div>
</section>
